<%- if controller_name != 'sessions' %>
  <div class="text-center">
    <%= link_to "トレーニング IDをお持ちの方はこちら", new_session_path(resource_name) %><br />
  </div>
<% end %>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <div class="mt-3 text-center">
    <p>トレーニング IDをお持ちでないですか？</p>
    <p style="font-size: 13px;"><%= link_to "作成はこちら ＞", new_registration_path(resource_name) %></p>
  </div>
<% end %>
