<div class="row mt-5"></div>
<div class="mt-5 "style="text-align:center; height: 500px;">
  <h1>運動を通じて新たな自分と出会える<br>コミュニティサイトへようこそ!</h1>
  <h4 class="mt-5">当サイトは、皆様が健康的な生活を送り、<br>
  自分に最適な運動方法を見つけるお手伝いをするためのサイトです</h4>
</div>


