/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .background-image {
      position: fixed;
      z-index: -1;
      top: 0;
      right: 0;
    }

#carousel-items {
 display: flex;
 flex-wrap: nowrap;
}

.label {
  background-color: #337ab7;
  font-weight: 500;
  display: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}

/* すべての画面サイズで適用される設定 */
.footer-image {
  display: block;
}

/* タブレット縦置きサイズ（768px）以下の際に適用される設定 */
@media (max-width: 768px) {
  .footer-image img {
    width: 15px;
    height: 15px;
  }

  /* 画像のサイズや配置を調整する例 */
  .footer-image img {
    width: 45px;
    height: 45px;
  }

  .muscle img {
   width: 215px;
   height: auto;
  }

  .icon-small {
   font-size: 15px;
  }

  .post-title {
   font-size: 20px;
  }

  .post-subtitle {
    font-size: 12px;
  }

  .post-body {
    font-size: 10px;
  }
}

/* スマートフォンサイズ（425px）以下の際に適用される設定 */
@media (max-width: 425px) {
  /* 画像のサイズや配置を調整する例 */
  .footer-image img {
    width: 15px;
    height: 15px;
  }

  .muscle img {
   width: 300px;
   height: auto;
  }

}
