<div class="user">
  <div class="container mx-5 px-5">
    <div class="row mx-5 px-5">
      <table class="table-bottom">
        <tr>
          <td class="align-middle pl-5">
            <%= link_to user do %>
              <%= image_tag user.get_profile_image(100, 100), width: 60, height: 60, style: "border-radius: 50px;"  %>
            <% end %>
          </td>
          <td class="align-middle pl-4">
            <h5 class="mt-1"><%= link_to user.full_name, user, style: "color: #545454;" %></h5>
            <p style="font-size: 13px;"><%= user.introduction %></p>
          </td>
        </tr>
      </table>

    </div>
  </div>
</div>